<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });

  let curYear = 0;
  let curCon = "all";
  
  $: selectedData = function(curYear,curCon){
      let selectedData = data[curYear]["countries"];
      if (curCon == "all"){
        return selectedData
      }
      else {
        selectedData = selectedData.filter(item => (item.continent === curCon))
        return selectedData
      }
  }
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div class="row">
    <Scatterplot data = {selectedData(curYear,curCon)}/>
    <Controls data = {data} bind:currentYear = {curYear} bind:currentCont = {curCon}/>
  </div>
{/if}
